*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: #F2F4F7;
}
.section{
    margin: auto;
    height: 600px;
    width: 1000px;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    background-color: #F2F4F7;
    justify-content: center;
}
.right{
    height: 100%;
    width: 50%;
    background-color:#F2F4F7;
}
.name{
    margin-top: 200px;
    color: #0866FF;
    font-size: 68px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description{
    font-size: 28px;
    font-weight: 499;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login{
    border-radius: 10px;
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 130px;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    text-align: center;
}
.mail{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.mail::placeholder{
    padding-left: 25px;
    font-size: 15px;
}
.pass{
    margin-top: 15px;
    width: 300px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.pass::placeholder{
    padding-left: 25px;
    font-size: 15px;
}
.button{
    display: block;
    margin-top: 15px;
    width: 300px;
    height: 50px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #1877F2;
    border-color: #1877F2;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.forgot{
    margin-top: 15px;
}
.forgot a{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}
.line{
    color: lightgray;
}
.button2{
    margin-top: 20px;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #36A420;
    font-weight:700;
    background-color:#36A420;
    color: white;
    font-size: 15px;
}